<!doctype html>
<html>
  <head>
    <title>About</title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>About <%=shopData.shopName%></h1>
    <p>We Sell All Different Types of Books and More!</p>
  </body>
</html>