<!doctype html>
<html>
  <head>
    <title>Welcome to <%=shopData.shopName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Welcome to <%=shopData.shopName%></h1>
    <p><a href="users/login">Login</a></p>
    <p><a href="books/addbook">Add a New Book</a></p>
    <p><a href="books/list">List of Books</a></p>
    <p><a href="users/list">List of Users</a></p>
    <p><a href="books/search">Search for Books</a></p>
    <p><a href="books/bargainbooks">Bargain Books</a></p>
    <p><a href="users/register">Registration</a></p>
    <p><a href="/londonnow">Check Today's Weather</a></p>
    <p><a href="about">About</a></p>
    <p><a href="users/logout">Logout</a></p>
  </body>
</html>
