<!doctype html>
<html>
  <head>
    <title>Available Books</title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1><%=shopData.shopName%> Shop</h1>
    <h2>The Books That We Currently Have For Sale Are:</h2>
    <ul>
      <% availableBooks.forEach(function(book) { %>
        <li><%= book.name %>, £<%=book.price%> </li>
      <% }) %>
    </ul>
    </body>
</html>
