h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: rgb(1, 86, 86);
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: rgba(95, 158, 160, 0.521);
}

p,li {
    font-family: Arial, Helvetica, sans-serif;
}

a:link {
    color: rgb(156, 0, 75);
    text-decoration: none;
    padding:5px;
  }
  
  /* visited link */
  a:visited {
    color: rgb(134, 0, 218);
    text-decoration: none;
    padding:5px;
  }
  
  /* mouse over link */
  a:hover {
    color: white;
    text-decoration: none;
    background-color: rgb(203, 142, 253);
    padding:5px;
  }
  
  /* selected link */
  a:active {
    color: blue;
    text-decoration: none;
    padding:5px;
  }
